apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-mnaropdo
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-mnaropdo:cae5787ad24dc6f5bfc0cfbc2eb7929f716c8ed5@sha256:b5195a7fcd4fc1dbcd52a4959d04401996c4c2427bb018bbc20fd8896ea5010d
        name: container-image  
